<section >
  <div class="px-8 py-12 md:px-12 mx-auto lg:pb-24 max-w-7xl lg:px-32   lg:pt-32">
    <div class="">
      <h1 class="text-3xl tracking-tight text-balance font-medium font-display text-black md:text-7xl">
        Step inside our blog
      </h1>
      <p class="py-5">Discover narratives, perspectives, and guidance that will reshape your approach to visualizing data.</p>
    </div>
  </div>
</section>
