---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/global/Header.astro";
import Footer from "@/components/global/Footer.astro";

interface Props {
  seo?: {
    title?: string;
    description?: string;
    canonical?: string;
    openGraph?: {
      url?: string;
      title?: string;
      description?: string;
      images?: Array<{
        url: string;
        width: number;
        height: number;
        alt: string;
        type: string;
      }>;
      site_name?: string;
      type?: string;
      locale?: string;
    };
    twitter?: {
      handle?: string;
      site?: string;
      cardType?: string;
    };
    additionalMeta?: Array<{
      property?: string;
      name?: string;
      content: string;
    }>;
  };
  pageTitle?: string;
}

const { seo } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead seo={seo} />
  </head>
  <body class="bg-white flex flex-col min-h-screen">
    <Header />
    <main class="flex-grow pt-16"><slot /></main>
    <Footer />
  </body>
</html>
